body{
    color: black;
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

header{
    display:flex;
    justify-content: space-between;
    padding: 2em;
}

.nav-container {
    background: #d9c0fa;
    padding-left: 0%;
    padding-top: 0%;
    align-content: auto;
}

.nav-container.a{
    color: red;
}



 