//General
body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
  
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  //Header
  .nav-container {
    background: skyblue;
    color: black;
    overflow: hidden;

    a{ //Links within each nav 
        padding: 10px 15px;
        font-size: 15px;
        float: left;
    }

    a:hover{
        background-color: white;
    }

    a:visited{
        color: black;
    }

    a:active{
        background-color: rgb(255, 172, 186);
    }
  }

//Content
  .content-container{
    text-align: center;
  }
  
  //Footer
  .footer-container{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8%;
    background: skyblue;
    overflow: hidden;

    li{
        padding: 0px 60px;
        float: left;
    }
  } 

  .table{
    display: table;
    margin: 0 auto;

    #horizontal-li{
        li{
            display: inline;
        }
    }
}
